@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #1c1c1c;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
}
.nav {
    display: flex;
    align-items: center;
}
.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
.nav a:hover {
    text-decoration: underline;
}
.search {
    display: flex;
    align-items: center;
}
.search input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}
.search button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #df0d0d;
    color: white;
    cursor: pointer;
}
body {
    background-color: #1c1c1c;
}
.secao1 {
    background: #3f3e3e;
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.secao1-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-size: 20px;
    color: white;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #0a0a0a;
}

.categoria h2 {
    color: white;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}